:root {
    --primary: #3B3B3B;
    --secondary: #CDDC39;
    --terceary: #9b9b9b;
    --light1: #9b9b9b;
    --light2: #525252;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: 'Consolas', monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;