:root {
    --primary: #3B3B3B;
    --secondary: #9b8d0e;
    --terceary: #9b9b9b;
    --light1: #9b9b9b;
    --light2: #525252;
    --comfortaa: 'Comfortaa', cursive;
}

body {
    font-family: 'Comfortaa', cursive;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: 'Consolas', monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;